@font-face {
    font-family:'giz';
    src:url("../static/fonts/EraserRegular.ttf");
}

.corpo {
    background-image: url(../static/img/Foto\ de\ Pixabay\ no\ Pexels.jpg);
    /* Foto de Ian Turnell no Pexels */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed;   */
    background-size: cover;
    /* height: 100vh; */
   
}
.fundo {
    background-color: #f1f1f1c2;
    margin: 0;
    padding: 0;
}

.container-sm {
    padding: 50px 0px 50px 0px;

}

.conteudo {
    background-color:#f2e8cfb6;
    border-radius: 1px;
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.1);
    padding: 5px;
}

.header {
    display: flex;
    height: 15vh;
    align-items: center;
    justify-content: center;
}

div > h1 {
    text-transform: uppercase;
    color: #ffffff;
    font-family: giz;
    margin: 20px
    
}

.quadro_negro {
    background-image: url(../static/img/quadro\ negro.jpg);
    border-radius: 5px;
}
#paragrafo {
    text-align: justify;
    font-weight: 500;
    font-size: larger;
}

#cab_paragrafo {
    text-align: center;
}

.botoes {
    background-color:#6A994E ;
    height: 50px;
}

button {
    margin: 5px;
    width: 150px;
}

#fotos {
    background-color: #6A994E;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

#fotos_cabecalho {
    background-color: #6A994E;
    padding-top: 2%;

}

#fotos_cabecalho_texto{
    font-family: sans-serif;
    font-size:x-large;
}

#img_carousel {
    height: 500px;
}