<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/ico2.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <title>Feira Colaborativa</title>
</head>

<body class="img-fluid">
    <div class="corpo">
        <header>
            <div class="header">
                <div class="quadro_negro">
                    <h1>Feira Colaborativa</h1>
                </div>

            </div>
        </header>
        <div class="d-flex justify-content-center botoes">
            <button type="button" class="btn btn-outline-warning">Entre</button>
            <button type="button" class="btn btn-outline-light">Registre-se</button>

        </div>
        <div class="fundo">
            <div class="container-sm">

                <div class="row d-flex justify-content-center">

                    <div class="col-lg-2 center-block text-center m-2">
                        <img class="rounded-circle center-block text-center" src="../static/img/map.jpg"
                            alt="Generic placeholder image" width="140" height="140">
                        <h2 id="cab_paragrafo">Localizar</h2>
                        <p id="paragrafo">Procure perto de você grupos de pessoas que querem comprar
                            hortifrutigrangeiros diretamente com fornecedores, como por exemplo no CEAGESP. Caso não
                            haja grupos perto de sua localização você pode criar um grupo.</p>
                    </div>

                    <div class="col-lg-2 center-block text-center m-2">
                        <img class="rounded-circle center-block text-center" src="../static/img/grupo.jpg"
                            alt="Generic placeholder image" width="140" height="140">
                        <h2 id="cab_paragrafo">Agrupar</h2>
                        <p id="paragrafo"> Crie um grupo ou participe de um grupo já criado. Os grupos são formados por
                            rua, bairo, condomínio ou outro tipo de região que seja definido na sua criação. Também
                            deve-se informar a finalidade do grupo, Ex: Grupo formado para comprar Frutas, Legumes e
                            Verduras Semanalmente.</p>
                    </div>

                    <div class="col-lg-2 center-block text-center m-2">
                        <img class="rounded-circle center-block text-center" src="../static/img/compras.jpg"
                            alt="Generic placeholder image" width="140" height="140">
                        <h2 id="cab_paragrafo">Comprar</h2>
                        <p id="paragrafo">O grupo coordena uma pessoa para reunir as intenções de compras. Logo após
                            essa pessoa faz uma análise do que será possível comprar com o valor arrecadado e com a
                            quantidade e tipos de Hortifrutigrangeiros solcitados e divulga um relação do que será
                            comprado.</p>
                    </div>

                    <div class="col-lg-2 center-block text-center m-2">
                        <img class="rounded-circle center-block text-center" src="../static/img/entregar.jpg"
                            alt="Generic placeholder image" width="140" height="140">
                        <h2 id="cab_paragrafo">Distribuir</h2>
                        <p id="paragrafo">Após a compra o comprador divide os produtos entre os participantes e
                            estabelce um horário para que os integrantes do grupo possam ir no local definido para
                            buscarem seus produtos..</p>
                    </div>

                </div>


            </div>

        </div>
        <div class="d-flex center-block justify-content-center" id="fotos_cabecalho">
            <span id="fotos_cabecalho_texto">Telas do Aplicativo</span>
        </div>
        <div class="d-flex center-block justify-content-center" id="fotos">

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>

                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>

                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img id="img_carousel" src="../static/img/caixas.jpg" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img id="img_carousel" src="../static/img/sacos.jpg" class="d-block" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img id="img_carousel" src="../static/img/Foto de Pixabay no Pexels.jpg" class="d-block"
                            alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Próxima</span>
                </button>
            </div>
        </div>
    </div>



    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>