<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/ico2.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <title>Feira Colaborativa</title>
</head>

<body class="img-fluid">
    <div class="corpo">
        <header>
            <div class="header">
                <div class="quadro_negro">
                    <h1>Feira Colaborativa</h1>
                </div>

            </div>
        </header>
        <div class="fundo">
            <div class="container-sm">

                <div class="row d-flex justify-content-center">

                    <div class="col-lg-2 center-block text-center m-2">
                        <img class="rounded-circle center-block text-center" src="../static/img/map.jpg"
                            alt="Generic placeholder image" width="140" height="140">
                        <h2 id="cab_paragrafo">Localizar</h2>
                        <p id="paragrafo">Donec sed odio dui. Etiam porta sem malesuada magna mollis
                            euismod. Nullam id dolor
                            id
                            nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,
                            vestibulum
                            at eros. Praesent commodo cursus magna.</p>
                    </div>

                    <div class="col-lg-2 center-block text-center m-2">
                        <img class="rounded-circle center-block text-center"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            alt="Generic placeholder image" width="140" height="140">
                        <h2 id="cab_paragrafo">Agrupar</h2>
                        <p id="paragrafo">Donec sed odio dui. Etiam porta sem malesuada magna mollis
                            euismod. Nullam id dolor
                            id
                            nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,
                            vestibulum
                            at eros. Praesent commodo cursus magna.</p>
                    </div>

                    <div class="col-lg-2 center-block text-center m-2">
                        <img class="rounded-circle center-block text-center"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            alt="Generic placeholder image" width="140" height="140">
                        <h2 id="cab_paragrafo">Comprar</h2>
                        <p id="paragrafo">Donec sed odio dui. Etiam porta sem malesuada magna mollis
                            euismod. Nullam id dolor
                            id
                            nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,
                            vestibulum
                            at eros. Praesent commodo cursus magna.</p>
                    </div>

                    <div class="col-lg-2 center-block text-center m-2">
                        <img class="rounded-circle center-block text-center"
                            src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
                            alt="Generic placeholder image" width="140" height="140">
                        <h2 id="cab_paragrafo">Comprar</h2>
                        <p id="paragrafo">Donec sed odio dui. Etiam porta sem malesuada magna mollis
                            euismod. Nullam id dolor
                            id
                            nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac,
                            vestibulum
                            at eros. Praesent commodo cursus magna.</p>
                    </div>

                </div>


            </div>

        </div>
    </div>



    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>