{% extends "base.html" %}

{% block head %}
<!-- Default CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">

<!-- Color CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/color.css') }}">

<!-- Font CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font.css') }}">

<!-- Button CSS -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button.css') }}">

<!-- Main CSS -->
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"> -->


{% endblock %}



{% block content %}
<!-- Hero -->
<div class="jumbotron jumbotron-fluid bg-primary text-secondary font-weight__500 hero mb-0">
    <!-- Empty Space -->
    <div class="sm-space"></div>
    <!--/ End Empty Space -->
    <div class="container hero-inner">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 mr-lg-auto">
                <div class="text-left text-lg-left">
                    <h1 class="xxxl-font-size font-weight__900 text-white">
                        Feira Colaborativa
                    </h1>
                    <div class="d-flex"></div>
                    <p class="lead base-plus-font-size text-white fs-4" style="text-align: justify;">
                        Uma forma de comprar em grupo diretamente no atacado sem intermediários. Assim, você
                        pode economizar e sempre ter hortifrutigranjeiros frescos.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-5 d-none d-lg-block" style="text-align:center">
                <img src="../static/images/frutas-legumes.svg" class="img-fluid" alt="Responsive image"
                    style="max-height: 20rem;">
            </div>
        </div>
    </div>









</div>
<!--/ End Hero -->

<!-- Features Grid -->
<div class="section feature-grid bg-light">
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto text-center mt-5">
                <h2 class="font-weight__700">Processo simples</h2>
                <p class="lead text-dark-gray">Localize ou crie grupos. Coordene com os integrantes do grupo.
                    Compre os hortifrutigranjeiros</p>
            </div>
        </div>
        <!-- Enpty Space -->
        <div class="md-space"></div>
        <!--/ End Empty Space -->
        <div class="row">
            <div class="col-12 mx-auto" style="align-content: start">
                <div class="row equal-height justify-content-center">

                    <div class="col-10 col-lg-4" style="align-content: start">
                        <div class="feature-grid box box-shadow box-shadow__hover bg-light-primary row">
                            <div class="mt-auto col">
                                <div class="row align-items-center">
                                    <div class="col-12 col-md-4 col-lg-12" style="text-align: center; ">
                                        <img src="../static/images/localizacao.svg" alt="product image"
                                            class="img-fluid" style="max-height: 20rem;">
                                        <!-- Enpty Space -->
                                        <div class="md-space"></div>
                                        <!--/ End Empty Space -->
                                    </div>
                                    <div class="col-12 col-md-8 col-lg-12 text-center text-md-left text-lg-center">
                                        <h3 class="font-weight__500">
                                            Localizar
                                        </h3>
                                        <p style="text-align: justify;">
                                            Procure perto de você grupos de pessoas que querem comprar
                                            hortifrutigranjeiros diretamente com fornecedores, como por exemplo
                                            no CEAGESP. Caso não haja grupos perto de sua localização você pode
                                            criar um grupo e ser o administrador desse grupo, aqui no App.
                                            Assim, você define a localização do grupo, pelo cep que você
                                            escolher como referência. Essa referência é importante para que as
                                            pessoas possam se reunir o mais próximo possível, para economizar
                                            custo com a distribuição das compras.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-10 col-lg-4" style="align-content: start">
                        <div class="feature-grid box box-shadow box-shadow__hover bg-light-primary row">
                            <div class="mt-auto col">
                                <div class="row align-items-center">
                                    <div class="col-12 col-md-4 col-lg-12" style="text-align: center;">
                                        <img src="../static/images/grupo-diversificado.svg" alt="product image"
                                            class="img-fluid" style="max-height: 20rem;">
                                        <!-- Enpty Space -->
                                        <div class="md-space"></div>
                                        <!--/ End Empty Space -->
                                    </div>
                                    <div class="col-12 col-md-8 col-lg-12 text-center text-md-left text-lg-center">
                                        <h3 class="font-weight__500">
                                            Formar Grupos
                                        </h3>
                                        <p style="text-align: justify;">
                                            Os grupos são formados por moradores de uma rua, bairro, condomínio
                                            ou outro tipo de região que você preferir definir. Assim, na criação
                                            do grupo você informa a finalidade do grupo. Ex: Grupo dos moradores
                                            da Vila das Acácias formado para comprar semanalmente Frutas,
                                            Legumes e Verduras. Dessa maneira, a cada rodada de compras o grupo
                                            coordena uma pessoa para coletar as intenções de compras, arrecadar
                                            o dinheiro, realizar as compras e distribuí-las. Tudo isso
                                            coordenado por meio de um grupo de WhatsApp ou Telegram criado pelo
                                            administrador do grupo.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-10 col-lg-4">
                        <div class="feature-grid box box-shadow box-shadow__hover bg-light-primary row"
                            style="align-content: start">
                            <div class="mt-auto col">
                                <div class="row">
                                    <div class="col-12 col-md-4 col-lg-12" style="text-align: center;">
                                        <img src="../static/images/mulher-legumes.svg" alt="product image"
                                            class="img-fluid " style="max-height: 18rem;">
                                        <!-- Enpty Space -->
                                        <div class="md-space"></div>
                                        <!--/ End Empty Space -->
                                    </div>
                                    <div class="col-12 col-md-8 col-lg-12 text-center text-md-left text-lg-center">
                                        <h3 class="font-weight__500">
                                            Comprar e Entregar
                                        </h3>
                                        <p style="text-align: justify;">
                                            Após uma análise do que será possível comprar com o valor arrecadado
                                            e com a quantidade e tipos de hortifrutigranjeiros solicitados, a
                                            pessoa da vez escolhida pelo grupo divulga uma relação dos itens que
                                            serão comprados. Todavia, essa lista pode sofrer alterações
                                            dependendo do preço e disponibilidades desses itens escolhidos.
                                            Então, após a compra os produtos são divididos entre os integrantes
                                            do grupo e é estabelecido um horário e local para que o grupo possa
                                            buscar os produtos comprados.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Aviso</h3>
            </div>
            <div class="modal-body">
                <p style="text-align: justify;">Este site requer que você forneça o nº de telefone com WhastApp ao se
                    cadastrar. Pois, quando você criar grupos, você será o admin desse grupo aqui na plataforma. Então,
                    para possibilitar que as pessoas interessadas possam solicitar participar desse grupo é necessário
                    um meio de comunicação, que nesse caso foi adotado o WhastApp. Também, ao criar um grupo é
                    necessário fornecer um CEP como referência de atuação do grupo. Isso, será utilizado para exibir no
                    mapa o local dos grupos que será o ponto médio de referência do CEP fornecido. Dessa forma, ao
                    utilizar os serviços desse site você concorda com esses termos.. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Aceitar</button>
            </div>
        </div>
    </div>
</div>


<!--/ End Features Grid -->


{% endblock %}


{% block script %}

<script type="text/javascript">
    $(window).on('load', function () {
        $('#myModal').modal('show');
    });
</script>
{% endblock %}